    <form action="/<%= idea.id %>" method="POST">
      <h2>Edit your idea!!</h2>
      <input type="hidden" placeholder='idea' name="_method" value="PUT" />
      <input class='form-control' placeholder="<%= idea.title %>" type='text' name='idea[title]' /><br/>
      <input class='form-control' placeholder='<%= idea.description %>'type='text' name='idea[description]'/>
      <input type='submit'/>
    </form>
